# Игнорируем папки сборки C# (мусор)
bin/
obj/

# Игнорируем настройки редактора
.vscode/
.idea/

# Игнорируем секреты (по хорошему)
appsettings.Development.json

# На всякий случай, если остались следы Node.js
node_modules/